@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  /* position: relative; */
  height: 100vh;
  background: #000000;
}

.card {
  position: relative;
  width: 1252px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  /* need to set the justify value here */
  justify-content: center;
  /* background: #171a1c; */
  background-color: #ffffff0f;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 35px;
  border: black 7px solid;
  transition: box-shadow 0.5s, top 0.5s;
}




.hero-img {
  float: left;
  position: relative;
  width: 425px;
  height: 345px;
  /* padding: 35px; */
  /* border-right: #00ffff solid 1px; */
}
.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 70%;
  z-index: -1;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-img:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.hero-img:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.hero-img:hover .wrapper::after {
  height: 120px;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.hero-img:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s, box-shadow 0.5s;
} */

.hero-content {
  float: right;
  position: relative;
  width: 395px;
  height: 285px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.car-name {
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: text-shadow 0.5s;
}

.features li {
  list-style: decimal;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-left: 25px;
}

.price {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  transition: box-shadow 0.5s;
  background-color: #00ffff;
  text-align: center;
  color: #000;
}

.price:hover {
  cursor: pointer;
}

.card:hover {
  box-shadow: none;
  border-color: #49ffff;
  top: 50.5%;
}

.card:hover .hero-img img {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.75) -15px -15px 35px;
}

.card:hover .hero-content .car-name {
  text-shadow: #000 0px -9px 11px;
}

.card:hover .hero-content .price {
  box-shadow: #00ffff 0px 0px 25px;
}

.banner p {
  position: absolute;
  font-size: 15px;
  top: 6%;
  left: 33.2%;
}

.banner h2 {
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  top: 10%;
  left: 33.1%;
  color: grey;
}
